body {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.container-fluid {
  padding-left:0;
  padding-right:0;
  margin:0;
}

.bgimg-1 {
  background: linear-gradient(
   rgba(0, 0, 0, .7), 
   rgba(0, 0, 0, .7)),
   url('../images/main.jpg') no-repeat center center fixed;
  min-height: 800px;
}

.bgimg-2 {
  background: linear-gradient(
   rgba(0, 0, 0, .75), 
   rgba(0, 0, 0, .75)),
   url('../images/happy.jpg') no-repeat center center fixed;
  min-height: 400px;
}


.bgimg-3 {
  background: linear-gradient(
   rgba(0, 0, 0, .65), 
   rgba(0, 0, 0, .65)),
   url('../images/sad.jpg') no-repeat center center fixed;
  min-height: 400px;
}

.bgimg-4 {
  background: linear-gradient(
   rgba(0, 0, 0, .7), 
   rgba(0, 0, 0, .7)),
   url('../images/frustration.jpg')no-repeat center center fixed;
  min-height: 400px;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  background-size:cover;
  }

.about-us, .resources, .why{
  color:black;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align:justify;
  opacity:.6;
}

img{
  width:200px;
  height:200px;
}

.logo {
  position: absolute;
  width: 100%;
  text-align: center;
  
}


.caption {
  position: absolute;
  left: 50px;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 35px;
  letter-spacing: 15px;
  }

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: black;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 52%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 60%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

  
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
  }
